<header>
    <h1>{{title}}</h1>
</header>
<div class = "fundo2">
    <form class = "calculadora" name = "calculadora">
        <input type = "textfield" name = "ans" value = "" id = "resultado"><br>
        <input type = "reset" value = "C" class = "botao">
        <input type = "button" value = "&lt;" class = "botao" onclick="back()">
        <input type = "button" value = "/" class = "botao" onclick="document.calculadora.ans.value+='/'">
        <input type = "button" value = "*" class = "botao" onclick="document.calculadora.ans.value+='*'"><br>
        <input type = "button" value = "1" class = "botao" onclick="document.calculadora.ans.value+='1'">
        <input type = "button" value = "2" class = "botao" onclick="document.calculadora.ans.value+='2'">
        <input type = "button" value = "3" class = "botao" onclick="document.calculadora.ans.value+='3'">
        <input type = "button" value = "+" class = "botao" onclick="document.calculadora.ans.value+='+'"><br>
        <input type = "button" value = "4" class = "botao" onclick="document.calculadora.ans.value+='4'">
        <input type = "button" value = "5" class = "botao" onclick="document.calculadora.ans.value+='5'">
        <input type = "button" value = "6" class = "botao" onclick="document.calculadora.ans.value+='6'">
        <input type = "button" value = "-" class = "botao" onclick="document.calculadora.ans.value+='-'"><br>
        <input type = "button" value = "7" class = "botao" onclick="document.calculadora.ans.value+='7'">
        <input type = "button" value = "8" class = "botao" onclick="document.calculadora.ans.value+='8'">
        <input type = "button" value = "9" class = "botao" onclick="document.calculadora.ans.value+='9'">
        <input type = "button" value = "=" class = "botao" onClick="document.calculadora.ans.value=eval(document.calculadora.ans.value)"><br>
        <input type = "button" value = "0" class = "botao" rowspan = "2" style = "width: 106px" onclick="document.calculadora.ans.value+='0'">
        <input type = "button" value = "." class = "botao" onclick="document.calculadora.ans.value+='.'">
    </form>
</div>